@import "styles/colors";

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // 14px
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // 15px
  }
}

body {
  background-color: $background__content;
  color: $font__base;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Lexend", sans-serif;
}

body,
input,
textarea,
button {
  font: 500 1rem "Inter", sans-serif;
}
